#content-detail {
  padding: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#content-detail-heading {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

#content-detail-subheading {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

#content-detail-list {
  background-color: white;
  padding: 30px 20px;
  overflow-y: auto;
  flex-grow: 1;
  max-height: 70vh;
  border-radius: 8px;
}
