* {
  box-sizing: border-box;
}

body {
  color: #1f2937;
  padding: 20px;
  font-family: Arial, sans-serif;
}

#main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  height: 90vh;
  overflow: hidden;
}

/* Sidebar */
#sidebar {
  background-color: #16325a;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-radius: 40px;
}

#sidebar-title {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

#sidebar-content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#sidebar-content a {
  cursor: pointer;
  width: 100%;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px 40px;
  text-align: center;
  background-color: #fee6a5;
  font-weight: 600;
}

#sidebar-content a {
  color: #1f2937;
  text-decoration: none;
}

#sidebar-content a:hover {
  opacity: 0.8;
}

.active {
  background-color: #217b95 !important;
  color: white !important;
}

.active a {
  color: white !important;
}

.content {
  width: 100%;
  background-color: #217b95;
  border-radius: 40px;
}

@media only screen and (min-width: 768px) {
  #main_container {
    flex-direction: row;
    display: flex;
  }

  #sidebar {
    width: 20%;
  }

  .content {
    width: 80%;
  }
}
